{% extends 'layout.html' %}
{% block head %}{% endblock %}
{% block style %}
::-webkit-scrollbar {
    width: 2px;
    height:2px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
main {
    max-width: 650px;
    margin: 10px auto;
}
div {
    margin:22px auto;
    line-height:1.8;
    font-size:1.1em;
    padding:0 5%;
}
form {
    margin:22px auto;
    line-height:1.8;
    font-size:1.1em;
}
#search {
    text-align: right;
    margin: 0;
}
input[type="keyword"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    max-width: 100%;
    width: 40%;
    font-family: 'Noto Serif',serif;
    outline:none;
}
.result {
    background-color: #eee;
    padding: 2%;
    border-radius: 5px;
    color: #888;
}
h3 {
    font-size: medium;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    color: brown;
}
.result p span {
    color: #000;
}
textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    border: 1px solid #eee;
    resize: none;
    border-radius: 3px;
    min-height: 80px;
    font-family: 'Noto Serif',serif;
}
button {
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    background-color: #3c8dbc;
    color: #fff;
    font-size: large;
    font-family: 'Noto Serif',serif;
}
main > h3 {
    padding-bottom: 15px;
}
ul {
    list-style-position: inside;
}
li {
    padding: 0 0 15px;
    list-style: none;
}
@media (max-width: 500px) {
    main {
        padding:2% 5%;
        margin:0 auto;
    }
    input[type="keyword"] {
        width:60%;
    }
}
{% endblock %}
{% block content %}
<main>
    <form action="{{ url_for(".toolkit_homepage") }}" method="GET" spellcheck="false" id="search">
        <input type="keyword" name="q" value="{% if keyword %}{{ keyword }}{% endif %}" placeholder="Input keyword for search sentence" />
    </form>
    <form action="{{ url_for(".toolkit_homepage") }}" method="POST" spellcheck="false" id="toolkit">
        <p><textarea name="text"></textarea></p>
        <p><button type="submit">Analyze</button></p>
    </form>
    <div id="message"></div>
    <div id="seggment" class="result">
        <h3>Word Segmentation</h3>
        <p></p>
    </div>
    <div id="tagger" class="result">
        <h3>POS Tagger</h3>
        <p></p>
    </div>
    {% if sentences %}
        <h3>
            {% if keyword %}
                Results for keyword <strong>&quot;{{ keyword }}&quot;</strong>
            {% else %}
                Recently Sentences
            {% endif %}
        </h3>
        <ul>
            {% for sent in sentences %}
                <li>
                    <a href="{{ url_for(".toolkit_infomation", id=sent.id) }}">{{ sent.sentence | word_break }}</a>
                </li>
            {% endfor %}
        <ul>
    {% endif %}
</main>
{% endblock %}
{% block scripts %}
<script>
    function getJSON(url, data, callback) {
        callback = callback || function(obj) { console.log(obj); };
        fetch(url, {
            method: "post",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        }).then(function(resp) {
            if (resp.status === 200) {
                return resp.json();
            } else {
                console.log("Status: " + resp.status);
                return Promise.reject("server");
            }
        }).then(function(obj) {
            callback(obj);
        }).catch(function(err) {
            callback({
                "error": "Có lỗi trong quá trình gửi dữ liệu"
            })
        });
    }
    document.addEventListener("DOMContentLoaded", function(e) {
        document.querySelector('form#toolkit').addEventListener('submit', function(e) {
            e.preventDefault();
            return false;
        });
        document.querySelector('button[type="submit"]').addEventListener('click', function(e) {
            e.preventDefault();
            var text = document.querySelector('textarea[name="text"]').value.trim();
            if (text.length > 0) {
                getJSON('{{ url_for(".toolkit_tokenize") }}', {
                    text : text,
                    clean : true,
                    raw : true
                }, function(resp) {
                    if (resp.hasOwnProperty('error')) {
                        document.querySelector('#message').innerText = resp.error;
                    } else {
                        var result = (function(text) {
                            var tokens = text.split(/\s+/).map(function(v) {
                                if (v.indexOf('_') != -1) {
                                    return '<span>'+v+'</span>';
                                }
                                return v;
                            });
                            return tokens.join(' ');
                        })(resp.hasOwnProperty('tokenized') ? resp.tokenized : resp.sentence);
                        document.querySelector('#seggment p').innerHTML = result;
                    }
                });
                getJSON('{{ url_for(".toolkit_tagger") }}', {
                    text : text,
                    clean : true,
                    raw : true
                }, function(resp) {
                    if (resp.hasOwnProperty('error')) {
                        document.querySelector('#message').innerText = resp.error;
                    } else {
                        var result = (function(text) {
                            var tokens = text.split(/\s+/).map(function(v) {
                                if (v == '///') return '/<span>/F</span>';
                                var word_tag = v.split('/');
                                var tag = word_tag.pop();
                                if (/^[A-Z]/.test(tag) == false) {
                                    tag = 'F';
                                }
                                return word_tag.join('/')+'<span>/'+tag+'</span>';
                            });
                            return tokens.join(' ');
                        })(resp.hasOwnProperty('tagged') ? resp.tagged : resp.sentence);
                        document.querySelector('#tagger p').innerHTML = result;
                    }
                });
            }
            return false;
        },false);
    }, false);
</script>
{% endblock %}
